@font-face {
  font-family: OpenSans;
  src: url("../Assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url("../Assets/fonts/OpenSans-SemiBold.ttf");
}

:root {
  --primary-0: #55ae9b;
  --primary-1: #6cc0ae;
  --primary-2: #9dddcd;
  --primary-3: #b8e7d7;
  --primary-4: #dcf3eb;
  --black-1: #0d0c22;
  --black-2: #3d3d4e;
  --black-3: #6e6d7a;
  --black-4: #a9aab8;
  --black-5: #e2e2e2;
  --black-6: #636363;
}

h1,
h2,
h3,
h4 {
  font-family: sans-serif, OpenSans-SemiBold;
}

* {
  font-family: sans-serif, OpenSans;
}

a {
  color: var(--primary-0) !important;
}
body {
  /* width: 100vw; */
  margin: 0px;
  /* overflow-x: hidden !important; */
  background-color: #f5f5f5;
  /* min-width: 375px; */
}

header {
  /* margin: auto; */
  display: block;
  /* width: 100%; */
  background-color: #ffffff;
}

header .navbar {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0px 80px;
}

header .nav-container {
  display: grid;
  grid-template-columns: 70% 10% 20%;
  grid-template-rows: 72px;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "first-section separate second-section";
  width: 100%;
}
.first-section {
  grid-area: first-section;

  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-template-columns: 114px 223px 357px;
  grid-template-rows: 72px;
  gap: 0px 32px;
  grid-template-areas: "logo category-group search-bar";
}

.separate {
  grid-area: separate;
}

.second-section {
  grid-area: second-section;

  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: flex-end;
}

.logo {
  grid-area: logo;
}
.category-group {
  grid-area: category-group;

  display: flex;
  align-items: center;
}
.category-group .fas.fa-bars,
.category-group .fas.fa-times {
  font-size: 32px;
  color: var(--primary-1);
  cursor: pointer;
}
.category-group .fas.fa-bars#menu-icon-shown {
  display: inline-block;
}
.category-group .fas.fa-bars#menu-icon-hidden {
  display: none;
}
.category-group .fas.fa-times {
  display: none;
}
.category-group p {
  margin-left: 13px;
  color: var(--black-6);
  font-style: normal;
  font-weight: 500;
  font-size: 30px;

  margin-top: 0px;
  margin-bottom: 0px;
}

.search-bar {
  grid-area: search-bar;
  display: flex;
  align-items: center;
  align-content: center;
}

.input-icon i.icon {
  position: absolute;
  padding: 10px;
  color: var(--black-4);
  width: 14px;
}

.input-field {
  width: 357px;
  padding: 10px 10px 10px 30px;
  border: none;
  background-color: #f3f3f3;
  border-radius: 10px;
}
.input-field:focus {
  border: none;
  outline: none;
}

.input-field::placeholder {
  color: var(--black-4);
  font-size: 16px;
  padding: 10px 10px 10px 10px;
}

.navbar .nav-container .logo {
  font-size: 40px;
  font-weight: 600;
  color: var(--primary-1);
  margin: 0px;
  display: flex;
  align-items: center;
}

.language {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.language .i-globe {
  color: var(--black-3);
}

.language .language-dropdown {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.language .language-dropdown p {
  font-size: 16px;
}

.language .language-dropdown i {
  margin-left: 10px;
  color: var(--black-3);
}

.language-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  /* padding: 12px 16px; */
  top: 40px;
  z-index: 1;
  width: 140px;
}

.dropdown:hover .language-dropdown-content {
  display: block;
  background: #ffffff;
  box-shadow: 0px 0px 14px 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  /* padding: 24px; */
}

.language-dropdown-content .language-option {
  padding: 24px;
  cursor: pointer;
}
.language-dropdown-content .language-option:hover {
  background-color: var(--primary-4);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.language-dropdown-content .language-option:last-child:hover {
  background-color: var(--primary-4);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.primary-btn {
  background-color: var(--primary-1);
  color: white;
  border-radius: 10px;
  padding: 9px 18px;
  border: none;
  box-shadow: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  height: 40px;
  margin-right: 16px;

  white-space: nowrap;
}

.outline-btn {
  font-weight: 600;
  background-color: white;
  color: var(--primary-1);
  border-radius: 10px;
  padding: 9px 18px;
  border: 1px solid var(--primary-1);
  box-shadow: none;
  font-size: 16px;
  cursor: pointer;
  height: 40px;

  white-space: nowrap;
}

.outline-btn-2 {
  background: #ffffff;
  /* Grey 2 */

  border: 0.5px solid #acacb9;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 12px 49px;
}

.title1 {
  font-family: OpenSans-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  margin: 0px;
  color: #313131;
}
.title2 {
  font-family: OpenSans-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  margin: 0px;
  color: var(--black-1);
}
.title3 {
  font-family: OpenSans-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  margin: 0px;
  color: var(--black-1);
}
.title4 {
  font-family: OpenSans-SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin: 0px;
  color: var(--black-1);
}

.body1 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
  color: var(--black-1);
}
.body2 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
  color: var(--black-1);
}
.body3 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  margin: 0px;
  color: var(--black-1);
}

.p-black1 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin: 0px;
  color: var(--black-1);
}
.p-black2 {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
  color: var(--black-1);
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.align-items-center {
  display: flex;
  align-items: center;
}

.figures {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;

  color: var(--black-6);
}

.fb-btn {
  background-color: #408bc1;
  color: white;
  height: 20px;
  border: none;
  border-radius: 5px;

  margin-left: 20px;
  white-space: nowrap;
}

.fb-btn i {
  margin-right: 5px;
}

.divider {
  border: 2px solid #6cc0ae;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.category-group {
  grid-area: category-group;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
  border-top: 1px solid #d8d8d8;
}

.sidenav .head-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px 20px;
}

.sidenav #closebtn {
  font-size: 20px;
  display: none;
  color: #414042;
  transform: rotate(90deg);
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1920px) {
  .sidenav {
    display: none;
  }
}
@media only screen and (max-width: 1310px) {
  .search-bar {
    display: none;
  }

  .homepage-content {
    grid-template-columns: 55% 45% !important;
    gap: 0px 0px !important;
  }
  .homepage-content .card-news {
    margin-right: 50px;
  }

  .tags-authors-otherNews {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 1fr !important;
    grid-auto-columns: 1fr !important;
    grid-auto-rows: 1fr !important;
    gap: 0px 0px !important;
    grid-auto-flow: row !important;
    grid-template-areas: "tags-authors" !important;
  }

  .tags-authors {
    display: grid !important;
    grid-template-rows: max-content !important;
    grid-template-columns: 100% !important;
    grid-auto-columns: auto !important;
    gap: 30px 0px !important;
    grid-auto-flow: row !important;
    grid-area: tags-authors !important;
  }

  .tags {
    grid-area: 1 / 1 / 2 / 2 !important;
  }

  .authors {
    grid-area: 2 / 1 / 3 / 2 !important;
    padding-left: 0px !important;

    margin-bottom: 30px;
  }

  .other-news {
    padding-left: 0px !important;
  }
}
@media only screen and (max-width: 1240px) {
  header .navbar,
  .homepage-container,
  .footer {
    padding: 20px 40px !important;
  }
}
@media only screen and (max-width: 1160px) {
  header .navbar,
  .homepage-container,
  .footer {
    padding: 20px 20px !important;
  }
}

@media only screen and (max-width: 1117px) {
  .homepage-container {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 1fr !important;
    grid-auto-columns: 1fr !important;
    grid-auto-rows: 1fr !important;
    gap: 0px 0px !important;
    grid-auto-flow: row !important;
    grid-template-areas: "homepage-content" !important;
  }

  .homepage-content {
    display: grid !important;
    grid-template-rows: auto !important;
    grid-auto-columns: 1fr !important;
    gap: 30px 0px !important;
    grid-auto-flow: row !important;
    grid-area: homepage-content !important;

    justify-content: center !important;

    border-bottom: 1px solid #d8d8d8;
  }

  .card-news {
    grid-area: 1 / 1 / 2 / 2 !important;
  }

  .tags-authors-otherNews {
    grid-area: 2 / 1 / 3 / 2 !important;
  }

  .other-news {
    border-top: 1px solid #d8d8d8;
    padding-top: 20px;
  }

  .tags {
    padding-bottom: 20px;
    border-bottom: 1px solid #d8d8d8;
    border-top: 1px solid #d8d8d8;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 850px) {
  .sidenav {
    display: block;
  }
  .language {
    display: none;
  }

  .banner {
    flex-direction: column;
    text-align: center;
  }
  .banner .primary-btn {
    margin-top: 12px;
  }

  .norms {
    margin-top: 30px !important;
  }

  .pagination .item {
    width: 36px !important;
    height: 36px;
    font-size: 16px !important;
  }

  .first-btn.first {
    /* display: inline !important; */
    justify-content: center;
    width: 149px !important;
    height: 28px !important;
    font-size: 14px !important;
    padding: 5px 5px !important;
  }
  .second-btn.second,
  .third-btn.third {
    height: 28px !important;
    font-size: 14px !important;
  }

  .norms p {
    font-size: 14px !important;
  }

  .ft-slogan {
    width: 100% !important;
    text-align: justify;
    font-size: 14px;
  }
  .wrap-icon {
    margin-top: 22px !important;
  }
}

.search-container-mobile {
  display: flex;
  justify-content: center;
  padding: 0px 12px;
}

.search-container-mobile .search-bar-mobile.input-icon {
  width: 100% !important;
}

.search-container-mobile .search-bar-mobile .input-field {
  width: 100% !important;
}

.language-dropdown.mobile,
.menu-dropdown.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 20px 12px 10px;
  cursor: pointer;
}
.menu-dropdown.mobile {
  padding-bottom: 0px;
}
.language-dropdown.mobile i,
.menu-dropdown.mobile i {
  color: #6e6d7a;
}
.language-dropdown.mobile .fa-chevron-down,
.menu-dropdown.mobile .fa-chevron-down {
  display: block;
}
.language-dropdown.mobile .fa-chevron-up,
.menu-dropdown.mobile .fa-chevron-up {
  display: none;
}
.language-dropdown.mobile p,
.menu-dropdown.mobile p {
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: #3d3d4e;
  display: block;
  transition: 0.3s;
}
.gray-divider {
  width: 100%;
  height: 0.5px;
  background-color: #d8d8d8;
  margin: 0px 12px;
  padding: 0px 12px;
}

#list-language {
  padding: 0px 12px;
}
#list-language .language-item {
  padding: 12px 0px;
  display: flex;
  padding-bottom: 30px;
}
#list-language .language-item i {
  color: #6e6d7a;
  margin-right: 11px;
  visibility: hidden;
}
#list-language .language-item.active i {
  visibility: visible;
}

#list-tags,
#list-language {
  display: none;
}

.current-user-mobile {
  padding: 0px 12px;
  margin-top: 27px;
  justify-content: space-between;
}

.current-user-mobile,
.current-user-mobile .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.current-user-mobile .wrap-avatar {
  width: 34px;
  height: 34px;
}
.current-user-mobile .text-name {
  font-size: 15px;
}
.current-user-mobile .icon-down #user-fa-chevron-down {
  display: block;
}
.current-user-mobile .icon-down #user-fa-chevron-up {
  display: none;
}
.user-dropdown-content-mobile {
  display: none;
  color: #3d3d4e;
}
.user-dropdown-content-mobile .user-option {
  margin-top: 27px;
  padding: 0px 12px;
}
.user-dropdown-content-mobile .gray-divider {
  margin-top: 27px;
  width: 90%;
}

@media only screen and (max-width: 760px) {
  header .navbar {
    padding: 0px 12px;
  }

  .banner {
    padding: 15px 12px !important;
  }

  .second-section .primary-btn,
  .second-section .outline-btn {
    display: none;
  }
  .nav-container {
    display: grid !important;
    grid-template-columns: 100% !important;
    grid-template-rows: 48px !important;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px !important;
    grid-auto-flow: row !important;
    grid-template-areas: "first-section" !important;
    align-items: center !important;
  }

  .first-section {
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "logo . category-group";
    grid-area: first-section;
  }

  .category-group {
    justify-content: flex-end;
  }

  .category-group p {
    display: none;
  }

  .tags-authors-otherNews {
    grid-template-columns: auto !important;
    grid-auto-rows: auto !important;
  }

  .authors {
    margin-right: 20px;
  }
  .news-description {
    display: none;
  }
  .news-item img.thumnail {
    width: 106px;
    height: 68px;
  }
  .title2 {
    font-size: 15px;
  }
  .current-user {
    display: none !important;
  }
}

@media only screen and (max-width: 550px) {
  .small-information.flex-row {
    flex-direction: column;
    justify-content: left;
  }
  .fb-btn {
    margin-left: 0px;
    float: left;
  }
  .btn-container {
    width: 100%;
  }
}
