.banner {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 33px;
}

.homepage-container {
  background-color: white;
  padding: 40px 80px;
  margin: auto;
}

.news {
  grid-area: news;
}
.tags {
  grid-area: tags;
}
.topAuthors {
  grid-area: topAuthors;
}
.othernews {
  grid-area: othernews;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "news news tags tags topAuthors topAuthors"
    "news news othernews othernews othernews othernews";
  grid-gap: 10px;
  /* background-color: #2196f3; */
  /* padding: 10px; */
}

.grid-container > div {
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  /* padding: 20px 0; */
  /* font-size: 30px; */
}

.news .news-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.small-information {
  /* display: ; */
  align-items: center;
}

.news-information {
  margin-left: 20px;
}
.avatar-datetime,
.views,
.comments {
  margin-right: 20px;
  align-items: center;
}

.news-information .avatar-datetime .author-avatar {
  margin-right: 10px;
}
.news-information .news-description {
  font-size: 14px;
  text-align: justify;
  width: 418px;
  color: var(--black-1);
}

.sm-icon {
  /* position: absolute; */
  width: 100%;
  color: var(--black-6);
  margin-right: 5px;
}
