@import "../../main.css";

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 33px;
  background-color: #e9f4f0;
}

.title-banner {
  margin-top: 0px;
  margin-bottom: 0px;
}

.btn-banner {
  margin-left: 3%;
  margin-right: 0px;
}

.image-banner {
  position: relative;
  width: 100%;
}

.image-banner .banner-child {
  position: absolute;
  top: 0;
  width: 100%;
  color: #313131;
}

.wrap-content-about-us {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 12px;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.about-title {
  width: 80%;
  margin-top: 60px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  color: #313131;
}

.div-space-title {
  height: 5px;
  width: 80px;
  background: #6cc0ae;
  border-radius: 50px;
  margin-top: 10px;
}

.ab-description {
  margin-top: 40px;
  text-align: center;
}

.ab-content-2 {
  width: 80%;
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
  color: #313131;
}

.ab-description-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.ab-description-2 .container-square-1 {
  width: 48%;
  display: flex;
}

.container-square-1 .ab-icon {
  width: 78px;
  min-width: 78px;
  background: #dcf3eb;
  height: 78px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 34px;
}

.container-square-1 .text-square1 {
  display: flex;
  flex-direction: column;
}

.text-square1 .ab-square-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}

.text-square1 .ab-square-description {
  font-size: 14px;
  line-height: 22px;
  color: #6e6d7a;
  margin-top: 10px;
}

.ab-description-3 {
  line-height: 22px;
  text-align: justify;
  color: #313131;
  margin-top: 60px;
}

.Tags {
  margin-top: 60px;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #313131;
}

.wrap-tags {
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}

.wrap-tags .tag-item {
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  background: #ebebeb;
  height: 32px;
  padding: 0px 18px;
  border-radius: 10px;
  margin-left: 11px;
  white-space: nowrap;
  margin-bottom: 12px;
}

.ab-wrap-end {
  margin-top: 5px;
}

.ab-wrap-end .kinhnghiemthucte {
  padding: 7px 32px;
  background-color: #24cb99;
  border-radius: 10px;
  color: white;
}

.ab-wrap-end .tuvan {
  padding: 7px 36px;
  background-color: #008cf1;
  color: white;
  border-radius: 10px;
  margin: 0px 12px;
}

.ab-wrap-end .uytin {
  padding: 7px 39px;
  background-color: #49b3ff;
  color: white;
  border-radius: 10px;
}

.description-end {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.div-space-end {
  width: 100%;
  height: 1px;
  background-color: #d8d8d8;
  margin: 30px 0px;
}

.full-width {
  width: 100%;
}

.width-44 {
  width: 44px;
}

@media only screen and (max-width: 600px) {
  .wrap-content-about-us {
    margin-bottom: 30px;
  }
  .about-title {
    width: 100%;
    margin-top: 30px;
  }
  .Tags {
    margin-top: 30px;
  }
  .ab-description-2 {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
  }
  .ab-content-2 {
    margin-top: 30px;
  }

  .ab-description-3 {
    margin-top: 30px;
  }

  .container-square-1 {
    width: 100% !important;
    margin-top: 30px;
  }

  .wrap-quare-receive {
    margin-top: 0px !important;
  }

  .wrap-tags {
    margin-top: 30px;
  }
}
